<%- include("../partials/header") %>
<a id="newRecipe" href="/recipes/new">Add New Recipe</a>
<h1><%= title %></h1>
<ul>
  <% recipes.forEach(r => { %>
     <% if(user) { %>
          <% if (user.name ===r.user) { %>
         <form action="/recipes/<%= r._id %>?_method=DELETE" class="delete-form" method="POST">
          <button id="delete" type="submit">Delete Drink</button>
        </form>
          <%  } else { %>
            <% } %>
            <div id="userName">
              <li id="comments"> <%= r.name %> </li>
            </div>
            <li id="recipesName">Added By: <%=r.user %></li>
          </div>
          <li><%= r.ref %></li>
          <label>Reviews</label>
          <% if(r.reviews.length){ %> 
            <% r.reviews.forEach(c => { %>
              <li><%= c.content %></li>
              <%  }) %>
              <% } %>
              
        <% } %>
    <% }) %>
</ul>
<%- include("../partials/footer") %>